/.DS_Store
/.history
/Ohne Titel.cmproj
/code1.js
/code2.js
/code3.js
/example_full.js
/full copy.js
/node_modules
/package-lock.json
/raw vids
/script.docx
/thumbnail.png
/video 4.cmproj
/video 4.mp4